@using PMS.Web.Helper
@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html lang="@CultureHelper.GetCurrentNeutralCulture()" dir="@(CultureHelper.IsRighToLeft() ? "rtl" : "ltr")">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    @*@Styles.Render("~/Content/css" + (CultureHelper.IsRighToLeft() ? "-rtl" : ""))*@
        @Styles.Render("~/Content/cssbundle"))
    @Styles.Render("~/Content/siteCss")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Bundle/BaseLibs")
    @Scripts.Render("~/bundles/bootstrap" + (CultureHelper.IsRighToLeft() ? "-rtl" : ""))
    <link href="~/Content/CSS/components.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/CSS/Global/Plugin/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />


    @*<script src="~/Scripts/App/requireConfig.js"></script>*@
    <script src="~/Scripts/App/architecture.js"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>

   
</head>
<body class="page-header-fixed page-quick-sidebar-over-content  ">
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">

                          @{ Html.RenderAction("LoadMenu", "Menu", new { area = "" } ); }
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>*@
    <!-- BEGIN HEADER -->
    <div class="page-header navbar navbar-fixed-top">
        <!-- BEGIN HEADER INNER -->
        <div class="page-header-inner">
            <!-- BEGIN LOGO -->
            <div class="page-logo logo-default" style="color: white; font-size: large; padding: 10px 10px;">
                <a href="~/Dashboard/Index">Property Management
                </a>
            </div>

            <!-- END LOGO -->
            <!-- BEGIN HORIZANTAL MENU -->
            <!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
            <!-- DOC: This is desktop version of the horizontal menu. The mobile version is defined(duplicated) sidebar menu below. So the horizontal menu has 2 seperate versions -->
            <div class="hor-menu hidden-sm hidden-xs">
                @if (@User.Identity.GetUserName() != null && @User.Identity.GetUserName() != "")
                {
                    <ul class="nav navbar-nav">
                        <!-- DOC: Remove data-hover="dropdown" and data-close-others="true" attributes below to disable the horizontal opening on mouse hover -->
                    
                        <li class="classic-menu-dropdown">
                            <a data-toggle="dropdown" href="javascript:;">
                                Property <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu pull-left">
                                <li>
                                    <a href="~/Building/BuildingList">
                                        <i class="fa fa-bookmark-o"></i> Buildings
                                    </a>
                                </li>
                                <li>
                                    <a href="~/Apartment/Index">
                                        <i class="fa fa-user"></i> Appartments
                                    </a>
                                </li>
                           
                            </ul>
                        </li>
                        <li class="classic-menu-dropdown">
                            <a data-toggle="dropdown" href="javascript:;">
                                Partner <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu pull-left">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-bookmark-o"></i> Service Company
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-user"></i> Tenants
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <li class="classic-menu-dropdown">
                            <a data-toggle="dropdown" href="javascript:;">
                                Payments <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu pull-left">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-bookmark-o"></i> Rentals
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-user"></i> New Release
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-user"></i> Reneaw Release
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <li class="classic-menu-dropdown">
                            <a data-toggle="dropdown" href="javascript:;">
                                Blob <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu pull-left">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-bookmark-o"></i> Notes
                                    </a>
                                </li>

                            </ul>
                        </li>
                    
                    </ul>
                }
            </div>
            <!-- END HORIZANTAL MENU -->
            <!-- BEGIN HEADER SEARCH BOX -->
            <!-- DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box -->
           
            <!-- END HEADER SEARCH BOX -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            </a>
            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- BEGIN TOP NAVIGATION MENU -->
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">

                    <!-- BEGIN USER LOGIN DROPDOWN -->
                    <li class="dropdown dropdown-user">
                        @if (@User.Identity.GetUserName() == null || @User.Identity.GetUserName() == "")
                        {
                                <a href="~/Account/Login">Login</a>
                        }
                        @if (@User.Identity.GetUserName() != null && @User.Identity.GetUserName() != "") { 
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <span class="username username-hide-on-mobile">
                                    Hello @Session["FullName"]
                                </span>
                                <i class="fa fa-angle-down"></i>
                            </a>
                        }
                        <ul class="dropdown-menu">
                            <li>
                                <a href="~/Account/Profile">
                                    <i class="icon-user"></i> Profile
                                </a>
                            </li>
                            <li>
                                <a href="~/Account/Manage">
                                    <i class="icon-calendar"></i> Change Password
                                </a>
                            </li>
                            <li>
                                <a href="~/Account/LogOff">
                                    <i class="icon-key"></i> Log Out
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- END USER LOGIN DROPDOWN -->

                </ul>
            </div>
            <!-- END TOP NAVIGATION MENU -->
        </div>
        <!-- END HEADER INNER -->
    </div>
    <div class="clearfix">
    </div>
    <!-- END HEADER -->
    <div class="container body-content">
        @RenderBody()
        <div id="spinner">
        </div>
        <hr />
        <hr />
        <footer class="page-footer-inner">
            2014 © Project Management Solution
        </footer>
    </div>

    @RenderSection("scripts", required: false)

</body>
</html>
