@model PMS.Web.ViewModels.Buildings.BuildingViewModel
@{
    ViewBag.Title = "Add/Edit";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="page-container">
        <div class="page-content-wrapper">
            <div class="page-content-row">
                <div class="form form-horizontal">
                    <div class="portlet-title caption">
                        <i class="font-green-haze"></i>
                        <h2><span class="caption-subject font-green-haze bold uppercase">Building Add/Edit</span></h2>
                    </div>
                    <div class="col-md-offset-10 col-md-2">
                        <button type="submit" onclick="return (ValidateFields())" class=" btn green">Submit</button>
                        <button type="button" class="btn default">Cancel</button>
                    </div>
                    <h3 class="form-section">Basic Info</h3>
                    @Html.HiddenFor(model => model.Building.BuildingId)
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Building.Name, new { @class = "col-md-3 control-label-row" })
                                @Html.TextBoxFor(model => model.Building.Name, new { @class = "col-md-9 form-control mandatory", @placeholder = "Enter Name", @id = "Name" })
                                <span class="help-block">
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Building.PhoneNumber, "Phone Number", new { @class = "col-md-3 control-label-row" })
                                @Html.TextBoxFor(model => model.Building.PhoneNumber, new { @class = "col-md-9 form-control mandatory", @placeholder = "Enter Phone Number", @id = "Phone Number" })
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Building.Email, "Email", new { @class = "col-md-3 control-label-row" })
                                @Html.TextBoxFor(model => model.Building.Email, new { @class = "col-md-9 form-control mandatory", @placeholder = "Enter Email", @id = "Email" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Building.BuiltDate, "Built Date", new { @class = "col-md-3 control-label-row" })
                                @Html.TextBoxFor(model => model.Building.BuiltDate, new { @class = "col-md-9 form-control date-picker mandatory", @placeholder = "dd/mm/yyyy", @id = "Built Date" })
                            </div>
                        </div>
                    </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Building.NoOfFloors, "No of Floors", new { @class = "col-md-3 control-label-row" })
                                    @Html.TextBoxFor(model => model.Building.NoOfFloors, new { @class = "col-md-9 form-control mandatory", @placeholder = "Enter Number Of Floors", @id = "No of Floors" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Building.NoOfElevators, "No of Elevators", new { @class = "col-md-3 control-label-row" })
                                    @Html.TextBoxFor(model => model.Building.NoOfElevators, new { @class = "col-md-9 form-control mandatory", @placeholder = "Enter Number Of Elevators", @id = "No of Elevators" })
                                    <span class="help-block">
                                    
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Building.Comment, "Comments", new { @class = " col-md-3 control-label-row" })
                                    @Html.TextAreaFor(model => model.Building.Comment, new { @class = "col-md-9 form-control mandatory", @placeholder = "Enter Comments", @id = "Comments" })
                                </div>
                            </div>
                        </div>                   
                </div>
            </div>
        </div> 
    </div>
}
<script type="text/javascript" src="~/Scripts/App/ValidateFields.js"></script> 