@model PMS.Web.ViewModels.BuildingListViewModel
@Styles.Render("~/Content/PagedList.css")

@{
    ViewBag.Title = "Building";
}
<p>
    @Html.ActionLink(@PMS.Web.Resources.Shared.Common.CreateNew, "Create")
</p>

@Html.Partial("~/Views/Shared/_ConfirmationDialog.cshtml")
@using (Ajax.BeginForm

            ("BuildingList", "Building",
            new AjaxOptions { HttpMethod = "Get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "gridContent" }))
{
    <div class="page-container">
        
        <div class="portlet-title caption">
            <i class="font-green-haze"></i>
            <h2><span class="caption-subject font-green-haze bold uppercase">Buildings</span></h2>
        </div>
        <div>
            <p>
                @Html.TextBox("SearchString", "", new { @id = "SearchInput", @placeholder = "Search Name" })
                @Html.TextBox("PhoneNumber", "", new { @id = "PhoneNumber", @placeholder = "Phone Number" })
                <input type="submit" value="Search" />
                <a href="AddEdit"><input type="button" class="col-lg-offset-11 btn btn-success" value="Create New" /></a>
            </p>
        </div>
        <br />
        <div id="">
            @Html.Partial("_BuildingList", Model)
        </div>
    </div>
}
@if (ViewBag.MessageVM != null)
{
        <input type="hidden" id="Message" value="@ViewBag.MessageVM.Message" />
        <input type="hidden" id="IsSaved" value="@ViewBag.MessageVM.IsSaved" />
        <input type="hidden" id="IsUpdated" value="@ViewBag.MessageVM.IsUpdated" />
        <input type="hidden" id="IsError" value="@ViewBag.MessageVM.IsError" />
}

@section scripts
{
        <script src="~/Scripts/Common/confirmationDialog.js"></script>
}














