@model OSS.Web.ViewModels.Buildings.BuildingViewModel
@{
    ViewBag.Title = "Add/Edit";
}

@using (Html.BeginForm("AddEdit", "Building", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <h3 class="page-title">
        Building Add/Edit
    </h3>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_0">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-user"></i>Manage your buildings
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse">
                        </a>
                    </div>
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form action="#" class="form-horizontal">
                        <div class="form-body">
                            @Html.HiddenFor(model => model.Building.BuildingId)

                            <div class="form-group">
                                @Html.LabelFor(model => model.Building.Name, new { @class = "col-md-3 control-label" })
                                <div class="col-md-4">
                                    <div class="input-icon">
                                        <i class="fa fa-building-o"></i>
                                        @Html.TextBoxFor(model => model.Building.Name, new { @class = "form-control input-circle mandatory", @placeholder = "Enter Name", @id = "Name" })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Building.Name)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Building.Address, new { @class = "col-md-3 control-label" })
                                <div class="col-md-4">
                                    <div class="input-icon">
                                        <i class="fa fa-user"></i>
                                        @Html.TextBoxFor(model => model.Building.Address, new { @class = "form-control input-circle mandatory", @placeholder = "Enter Address", @id = "Address" })
                                        @Html.ValidationMessageFor(model => model.Building.Address)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Building.PhoneNumber, "Phone Number", new { @class = "col-md-3 control-label" })
                                <div class="col-md-4">
                                    <div class="input-icon">
                                        <i class="fa fa-phone"></i>
                                        @Html.TextBoxFor(model => model.Building.PhoneNumber, new { @class = "form-control input-circle mandatory", @placeholder = "Enter Phone Number", @id = "Phone Number" })
                                        @Html.ValidationMessageFor(model => model.Building.PhoneNumber)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Building.Email, "Email", new { @class = "col-md-3 control-label" })
                                <div class="col-md-4">
                                    <div class="input-icon">
                                        <i class="fa fa-asterisk">
                                        </i>
                                        @Html.TextBoxFor(model => model.Building.Email, new { @class = "form-control input-circle mandatory", @placeholder = "Enter Email", @id = "Email" })
                                        @Html.ValidationMessageFor(model => model.Building.Email)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Building.BuiltDate, "Built Date", new { @class = "col-md-3 control-label" })
                                <div class="col-md-4">
                                    <div class="input-icon">
                                        <i class="fa fa-calendar-o">
                                        </i>
                                        @Html.TextBoxFor(model => model.Building.BuiltDate, new { @class = "form-control input-circle datepicker mandatory", @placeholder = "mm/dd/yyyy", @id = "Built Date" })
                                        @Html.ValidationMessageFor(model => model.Building.BuiltDate)
                                    </div>
                                    </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Building.NoOfFloors, "No of Floors", new { @class = "col-md-3 control-label" })
                                <div class="col-md-4">
                                    <div class="input-icon">
                                        <i class="fa fa-cog">
                                        </i>
                                        @Html.TextBoxFor(model => model.Building.NoOfFloors, new { @class = "form-control input-circle mandatory", @placeholder = "Enter Number Of Floors", @id = "No of Floors" })
                                        @Html.ValidationMessageFor(model => model.Building.NoOfFloors)
                                    </div>
                                    </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Building.NoOfElevators, "No of Elevators", new { @class = "col-md-3 control-label" })
                                <div class="col-md-4">
                                    <div class="input-icon">
                                        <i class="fa fa-cubes">
                                        </i>
                                        @Html.TextBoxFor(model => model.Building.NoOfElevators, new { @class = "form-control input-circle mandatory", @placeholder = "Enter Number Of Elevators", @id = "No of Elevators" })
                                        @Html.ValidationMessageFor(model => model.Building.NoOfElevators)
                                    </div>
                                    </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Building.Comment, "Comments", new { @class = " col-md-3 control-label" })
                                <div class="col-md-4">
                                    <div class="input-icon">
                                        <i class="fa fa-comment-o">
                                        </i>
                                        @Html.TextAreaFor(model => model.Building.Comment, new { @class = "form-control input-circle mandatory", @placeholder = "Enter Comments", @id = "Comments" })
                                        @Html.ValidationMessageFor(model => model.Building.Comment)
                                    </div>
                                    </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">

                                    <button type="submit" class=" btn btn-circle blue">Save</button>

                                    <a href="Building">
                                        <button type="button" class="btn btn-circle default">Cancel</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>
            </div>
        </div>
    </div>
    @**************************************************************************************************************************************************************@
    

}

<script type="text/javascript" >
    $(document).ready(function() {
        $('.datepicker').datepicker({
            format: 'mm/dd/yyyy',
            autoclose: true,
            //startDate: '-3d'
        });
    });
</script> 