@model PMS.Web.ViewModels.Apartment.ApartmentViewModel
@{
    ViewBag.Title = "Add/Edit";
}

@using (Html.BeginForm("AddEdit", "Apartment", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <h3 class="page-title">
        Apartment Add/Edit
    </h3>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_0">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-user"></i>Manage your Apartments
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse">
                        </a>
                    </div>
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form action="#" class="form-horizontal">
                        <div class="form-body">
                            @Html.HiddenFor(model => model.Apartment.ApartmentId)

                            <div class="form-group">
                                @Html.LabelFor(model => model.Apartment.ApartmentNo, new { @class = "col-md-3 control-label" })
                                <div class="col-md-4">
                                    <div class="input-icon">
                                        <i class="fa fa-building-o"></i>
                                        @Html.TextBoxFor(model => model.Apartment.ApartmentNo, new { @class = "form-control input-circle ", @placeholder = "Enter Apartment Number", @id = "Name" })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Apartment.ApartmentNo)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Apartment.BuildingNo, new { @class = "col-md-3 control-label" })
                                <div class="col-md-4">
                                    <div class="input-icon">
                                        <i class="fa fa-building-o"></i>
                                        @Html.TextBoxFor(model => model.Apartment.BuildingNo, new { @class = "form-control input-circle ", @placeholder = "Enter Building No", @id = "BuildingNo" })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Apartment.BuildingNo)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Apartment.NoOfRooms, new { @class = "col-md-3 control-label" })
                                <div class="col-md-4">
                                    <div class="input-icon">
                                        <i class="fa fa-building-o"></i>
                                        @Html.TextBoxFor(model => model.Apartment.NoOfRooms, new { @class = "form-control input-circle ", @placeholder = "Enter No Of Rooms", @id = "NoOfRooms" })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Apartment.NoOfRooms)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Apartment.NoOfRestRoooms, new { @class = "col-md-3 control-label" })
                                <div class="col-md-4">
                                    <div class="input-icon">
                                        <i class="fa fa-building-o"></i>
                                        @Html.TextBoxFor(model => model.Apartment.NoOfRestRoooms, new { @class = "form-control input-circle ", @placeholder = "Enter No Of Rest Roooms", @id = "NoOfRestRoooms" })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Apartment.NoOfRestRoooms)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Apartment.NoOfAlmarah, new { @class = "col-md-3 control-label" })
                                <div class="col-md-4">
                                    <div class="input-icon">
                                        <i class="fa fa-building-o"></i>
                                        @Html.TextBoxFor(model => model.Apartment.NoOfAlmarah, new { @class = "form-control input-circle ", @placeholder = "Enter No Of Almarah", @id = "NoOfAlmarah" })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Apartment.NoOfAlmarah)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Apartment.TotalArea, new { @class = "col-md-3 control-label" })
                                <div class="col-md-4">
                                    <div class="input-icon">
                                        <i class="fa fa-building-o"></i>
                                        @Html.TextBoxFor(model => model.Apartment.TotalArea, new { @class = "form-control input-circle ", @placeholder = "Enter Total Area", @id = "TotalArea" })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Apartment.TotalArea)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Apartment.Comment, new { @class = "col-md-3 control-label" })
                                <div class="col-md-4">
                                    <div class="input-icon">
                                        <i class="fa fa-building-o"></i>
                                        @Html.TextAreaFor(model => model.Apartment.Comment, new { @class = "form-control input-circle ", @placeholder = "Enter Comment", @id = "Comment" })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Apartment.Comment)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Apartment.MasterBedSize, new { @class = "col-md-3 control-label" })
                                <div class="col-md-4">
                                    <div class="input-icon">
                                        <i class="fa fa-building-o"></i>
                                        @Html.TextBoxFor(model => model.Apartment.MasterBedSize, new { @class = "form-control input-circle ", @placeholder = "Enter Master Bed Size", @id = "MasterBedSize" })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Apartment.MasterBedSize)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Apartment.KitchenSize, new { @class = "col-md-3 control-label" })
                                <div class="col-md-4">
                                    <div class="input-icon">
                                        <i class="fa fa-building-o"></i>
                                        @Html.TextBoxFor(model => model.Apartment.KitchenSize, new { @class = "form-control input-circle ", @placeholder = "Enter Kitchen Size", @id = "KitchenSize" })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Apartment.KitchenSize)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Apartment.NoOfWindows, new { @class = "col-md-3 control-label" })
                                <div class="col-md-4">
                                    <div class="input-icon">
                                        <i class="fa fa-building-o"></i>
                                        @Html.TextBoxFor(model => model.Apartment.NoOfWindows, new { @class = "form-control input-circle ", @placeholder = "Enter No Of Windows", @id = "NoOfWindows" })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Apartment.NoOfWindows)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Apartment.NoOfDoors, new { @class = "col-md-3 control-label" })
                                <div class="col-md-4">
                                    <div class="input-icon">
                                        <i class="fa fa-building-o"></i>
                                        @Html.TextBoxFor(model => model.Apartment.NoOfDoors, new { @class = "form-control input-circle ", @placeholder = "Enter No Of Doors", @id = "NoOfDoors" })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Apartment.NoOfDoors)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Apartment.NoOfWashRooms, new { @class = "col-md-3 control-label" })
                                <div class="col-md-4">
                                    <div class="input-icon">
                                        <i class="fa fa-building-o"></i>
                                        @Html.TextBoxFor(model => model.Apartment.NoOfWashRooms, new { @class = "form-control input-circle ", @placeholder = "Enter No Of WashRooms", @id = "NoOfWashRooms" })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Apartment.NoOfWashRooms)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Apartment.FloorNumber, new { @class = "col-md-3 control-label" })
                                <div class="col-md-4">
                                    <div class="input-icon">
                                        <i class="fa fa-building-o"></i>
                                        @Html.TextBoxFor(model => model.Apartment.FloorNumber, new { @class = "form-control input-circle ", @placeholder = "Enter Floor Number", @id = "FloorNumber" })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Apartment.FloorNumber)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Apartment.NoOfElectricalsInstalled, new { @class = "col-md-3 control-label" })
                                <div class="col-md-4">
                                    <div class="input-icon">
                                        <i class="fa fa-building-o"></i>
                                        @Html.TextBoxFor(model => model.Apartment.NoOfElectricalsInstalled, new { @class = "form-control input-circle ", @placeholder = "Enter No Of Electricals Installed", @id = "NoOfElectricalsInstalled" })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Apartment.NoOfElectricalsInstalled)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Apartment.NoOfDoorLocks, new { @class = "col-md-3 control-label" })
                                <div class="col-md-4">
                                    <div class="input-icon">
                                        <i class="fa fa-building-o"></i>
                                        @Html.TextBoxFor(model => model.Apartment.NoOfDoorLocks, new { @class = "form-control input-circle ", @placeholder = "Enter Name", @id = "Name" })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Apartment.NoOfDoorLocks)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Apartment.SecurityCamerasInstalled, new { @class = "col-md-3 control-label" })
                                <div class="col-md-4">
                                   
                                        @Html.CheckBoxFor(model => model.Apartment.SecurityCamerasInstalled, new { @class = "", @placeholder = "Enter Name", @id = "Name" })
                                    @Html.ValidationMessageFor(model => model.Apartment.SecurityCamerasInstalled)
                                </div>
                            </div>

                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">

                                    <button type="submit" class=" btn btn-circle blue">Save</button>

                                    <a href="Building">
                                        <button type="button" class="btn btn-circle default">Cancel</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>
            </div>
        </div>
    </div>
    @**************************************************************************************************************************************************************@


}

<script type="text/javascript">
    $(document).ready(function() {
        $('.datepicker').datepicker({
            format: 'mm/dd/yyyy',
            autoclose: true,
            //startDate: '-3d'
        });
    });
</script> 