@model  OSS.Models.IdentityModels.ViewModels.ProfileViewModel
@{
    ViewBag.Title = "Profile";
}
@using (Html.BeginForm("Profile", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <h3 class="page-title">
        Profile
    </h3>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_0">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-user"></i>Update Profile
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse">
                        </a>
                    </div>
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form action="#" class="form-horizontal">
                        <div class="form-body">
                           

                            <div class="form-group">
                                @Html.LabelFor(model => model.FirstName, new { @class = "col-md-3 control-label" })
                                <div class="col-md-4">
                                    <div class="input-icon">
                                        <i class="fa fa-user "></i>
                                        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control input-circle mandatory", @placeholder = "Enter Name", @id = "Name" })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.FirstName)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.LastName, new { @class = "col-md-3 control-label" })
                                <div class="col-md-4">
                                    <div class="input-icon">
                                        <i class="fa fa-user"></i>
                                        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control input-circle mandatory", @placeholder = "Enter Last Name", @id = "Address" })
                                        @Html.ValidationMessageFor(model => model.LastName)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Email, "Email", new { @class = "col-md-3 control-label" })
                                <div class="col-md-4">
                                    <div class="input-icon">
                                        <i class="fa fa-asterisk"></i>
                                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control input-circle mandatory", @placeholder = "Enter Email", @id = "Phone Number" })
                                        @Html.ValidationMessageFor(model => model.Email)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.PhoneNumber, "Phone Number", new { @class = "col-md-3 control-label" })
                                <div class="col-md-4">
                                    <div class="input-icon">
                                        <i class="fa fa-mobile-phone">
                                        </i>
                                        @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control input-circle mandatory", @placeholder = "Enter Phone Number", @id = "Email" })
                                        @Html.ValidationMessageFor(model => model.PhoneNumber)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Address, "Address", new { @class = "col-md-3 control-label" })
                                <div class="col-md-4">
                                    <div class="input-icon">
                                        <i class="fa fa-home">
                                        </i>
                                        @Html.TextBoxFor(model => model.Address, new { @class = "form-control input-circle mandatory", @placeholder = "Enter Address", @id = "Built Date" })
                                        @Html.ValidationMessageFor(model => model.Address)
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class=" btn btn-circle blue">Save</button>
                                    <a href="Building">
                                        @Html.ActionLink("Reset", "Profile", null, new { @class = "btn btn-circle default" })
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
