@model PMS.Web.ViewModels.ServiceCompany.ServiceCompanyViewModel
@{
    ViewBag.Title = "Add/Edit";
}

@using (Html.BeginForm("AddEdit", "ServiceCompany", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))///ServiceCompany
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <h3 class="page-title">
        ServiceCompany Add/Edit
    </h3>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_0">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-user"></i>Manage your Service Companies
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse">
                        </a>
                    </div>
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form action="#" class="form-horizontal">
                        <div class="form-body">
                            @Html.HiddenFor(model => model.ServiceCompany.ServiceCompanyId)

                            <div class="form-group">
                                @Html.LabelFor(model => model.ServiceCompany.Name, new { @class = "col-md-3 control-label" })
                                <div class="col-md-4">
                                    <div class="input-icon">
                                        <i class="fa fa-building-o"></i>
                                        @Html.TextBoxFor(model => model.ServiceCompany.Name, new { @class = "form-control input-circle mandatory", @placeholder = "Enter Name", @id = "Name" })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.ServiceCompany.Name)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ServiceCompany.Address, new { @class = "col-md-3 control-label" })
                                <div class="col-md-4">
                                    <div class="input-icon">
                                        <i class="fa fa-user"></i>
                                        @Html.TextBoxFor(model => model.ServiceCompany.Address, new { @class = "form-control input-circle mandatory", @placeholder = "Enter Address", @id = "Address" })
                                        @Html.ValidationMessageFor(model => model.ServiceCompany.Address)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ServiceCompany.PhoneNumber, "Phone Number", new { @class = "col-md-3 control-label" })
                                <div class="col-md-4">
                                    <div class="input-icon">
                                        <i class="fa fa-phone"></i>
                                        @Html.TextBoxFor(model => model.ServiceCompany.PhoneNumber, new { @class = "form-control input-circle mandatory", @placeholder = "Enter Phone Number", @id = "Phone Number" })
                                        @Html.ValidationMessageFor(model => model.ServiceCompany.PhoneNumber)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ServiceCompany.Email, "Email", new { @class = "col-md-3 control-label" })
                                <div class="col-md-4">
                                    <div class="input-icon">
                                        <i class="fa fa-asterisk">
                                        </i>
                                        @Html.TextBoxFor(model => model.ServiceCompany.Email, new { @class = "form-control input-circle mandatory", @placeholder = "Enter Email", @id = "Email" })
                                        @Html.ValidationMessageFor(model => model.ServiceCompany.Email)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ServiceCompany.AccountNumber, "Account Number", new { @class = "col-md-3 control-label" })
                                <div class="col-md-4">
                                    <div class="input-icon">
                                        <i class="fa fa-bank">
                                        </i>
                                        @Html.TextBoxFor(model => model.ServiceCompany.AccountNumber, new { @class = "form-control input-circle mandatory", @placeholder = "Enter Account Number", @id = "Built Date" })
                                        @Html.ValidationMessageFor(model => model.ServiceCompany.AccountNumber)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ServiceCompany.Comment, "Enter Comment", new { @class = "col-md-3 control-label" })
                                <div class="col-md-4">
                                    <div class="input-icon">
                                        <i class="fa fa-cog">
                                        </i>
                                        @Html.TextBoxFor(model => model.ServiceCompany.Comment, new { @class = "form-control input-circle mandatory", @placeholder = "Enter Comment", @id = "No of Floors" })
                                        @Html.ValidationMessageFor(model => model.ServiceCompany.Comment)
                                    </div>
                                </div>
                            </div>
                            
                            
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">

                                    <button type="submit" class=" btn btn-circle blue">Save</button>

                                    <a href="Index">
                                        <button type="button" class="btn btn-circle default">Cancel</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>
            </div>
        </div>
    </div>
    @**************************************************************************************************************************************************************@


}

<script type="text/javascript">
    $(document).ready(function() {
        $('.datepicker').datepicker({
            format: 'mm/dd/yyyy',
            autoclose: true,
            //startDate: '-3d'
        });
    });
</script> 