@model PMS.Web.ViewModels.Buildings.ABuildingViewModel
@{
    ViewBag.Title = "Building";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="page-container">
        <div>
            <a class="btn btn-success col-md-offset-10 col-md-2" href="AddEdit">Create New</a>
        </div>
        <div>
            <fieldset>
                <table>
                    <tr>
                        <td>
                            @Html.TextBox("SearchString", Model.SearchRequest.SearchString, new { @id = "SearchString", placeholder = "Name" })
                        </td>
                        <td>
                            @Html.TextBox("PhoneNumber", Model.SearchRequest.PhoneNumber, new { @id = "PhoneNumber", placeholder = "Phone" })
                        </td>
                        <td>
                            <input type="button" id="btnFltr" value="Filter" />
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
        <table id="buildingTable" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Built Date</th>
                    <th>No Of Floors</th>
                    <th>No Of Elevators</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        var start = ('@Model.SearchRequest.PageNo' - 1) * '@Model.SearchRequest.PageSize';
        var isAsc = '@Model.SearchRequest.IsAsc' == "True" || '@Model.SearchRequest.IsAsc' == "true";
        var sortBy = ['@Model.SearchRequest.SortBy', isAsc ? 'asc' : 'desc'];
        var oTable = $('#buildingTable').dataTable({
            "iDisplayLength": 10,
            "displayStart": start || 0,
            "bFilter": false,
            "bLengthChange": false,
            "aaSorting": [sortBy],
            "aoColumnDefs": [
                { 'bSortable': false, 'aTargets': [8, 9] },
                {
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                }
            ],
            "columns": [
                { "data": "BuildingId" },
                { "data": "Name" },
                { "data": "PhoneNumber" },
                { "data": "Email" },
                { "data": "Address" },
                { "data": "BuiltDate" },
                { "data": "NoOfFloors" },
                { "data": "NoOfElevators" },
                {
                    "orderable": false,
                    "data": null,
                    "defaultContent": "<a class='edit' href='javascript:;'></a>"
                },
                {
                    "orderable": false,
                    "data": null,
                    "defaultContent": "<a class='delete' href='javascript:;'></a>"
                }
            ],
            "processing": true,
            "serverSide": true,
            "ajax": {
                url: "/ABuilding/Index",
                type: "POST",
                dataType: "json",
                data: function (params) {
                    params.PageNo = Math.ceil(params.start / params.length) + 1;
                    if (params.PageNo === 0) {
                        params.PageNo = 1;
                    }
                    params.PageSize = params.length;
                    params.SortBy = params.order[0].column;
                    if (params.SortBy === 0) {
                        params.SortBy = 1;
                    }
                    params.IsAsc = params.order[0].dir === "asc";
                    params.SearchString = $('#SearchString').val();
                    params.PhoneNumber = $('#PhoneNumber').val();
                }
            }
        });

        $('#btnFltr').on('click', function (e) {
            oTable.fnDraw();

        });


        $('#buildingTable').on('click', '.delete', function (e) {
            e.preventDefault();

            if (confirm("Are you sure to delete this row ?") == false) {
                return;
            }

            var nRow = $(this).parents('tr')[0];
            var aData = oTable.fnGetData(nRow);
            var serviceUrl = '/ABuilding/Delete';
            $.ajax({
                type: "POST",
                url: serviceUrl,
                data: "{ buildingId:" + aData.BuildingId + "}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                complete: function (data) {
                    if (data.responseJSON.status === 200) {
                        successFunc(data);
                    }
                    else {
                        errorFunc(data);
                    }
                }
            });

            function successFunc(data) {

                var totalRcd = oTable.fnSettings().fnRecordsTotal() - 1,//as success deleted one row
                    displayStart = oTable.fnSettings()._iDisplayStart,
                    displayLength = oTable.fnSettings()._iDisplayLength;

                oTable.fnDeleteRow(nRow, null, false);
                var page = Math.ceil(displayStart / displayLength);

                if (totalRcd <= displayStart) {
                    oTable.fnPageChange(page - 1);
                }
                else {
                    oTable.fnPageChange(page);
                }

                toastr.success(data.responseJSON.response);
            }

            function errorFunc(error) {
                toastr.error(error.responseJSON.response);
            }


        });

        // Edit
        $('#buildingTable').on('click', '.edit', function (e) {
            e.preventDefault();

            var nRow = $(this).parents('tr')[0];
            var aData = oTable.fnGetData(nRow);

            window.location.href = "/ABuilding/AddEdit/?BuildingId=" + aData.BuildingId;
        });

    });
</script>
